{:deps
 {clj-http/clj-http          {:mvn/version "3.12.3"}
  hickory/hickory            {:mvn/version "0.7.1"}
  cheshire/cheshire          {:mvn/version "6.0.0"}
  org.odftoolkit/odfdom-java {:mvn/version "0.12.0"}
  org.clojure/tools.cli      {:mvn/version "1.1.230"}}}



